/*============================================================================================*/
/* Repsonsive  */
/*============================================================================================*/
@media (min-width: 1200px) and (max-width: 1400px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
	.product_text {width: 102%;position: absolute;left: 0;}
}
@media (min-width: 768px) and (max-width: 1200px) {
#booking_bar {
	bottom: 0px;
}
#booking_bar_top {
	top: 328px;
}
#contact_container, #habitat_container {
	height: 328px;
}
#booking_container {
	height: 620px;
}
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 150px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 95px;
}
#snow_decor {
	top: -50px;
}
.pull-right {
	float: none !important;
}
.cmn-toggle-switch {
	right: 25px;
}
.main_title {
	font-size: 14px;
}
.main_title h2 {
	font-size: 24px;
}
.main_title p {
	font-size: 16px
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.login_status {
	float: right;
	font-size: 18px;
}
.login {
	width: 70%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}
@media (max-width: 991px) {
}
@media (min-width: 769px) and (max-width: 990px) {
}
 @media (min-width: 981px) and (max-width: 1024px) {
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 180px;
}
#contact_container, #habitat_container {
	padding: 0px;
	height: 343px;
}
#position {
	padding-top: 0px;
}
#booking_bar {
	bottom: 15px;
}
#booking_container {
	height: 590px;
}
#snow_decor {
	top: -50px;
}
.place-to-visit {
	width: 170px;
}
}
 @media (min-width: 801px) and (max-width: 980px) {
#booking_bar {
	bottom: 0px;
}
#booking_bar_top {
	top: 328px;
}
#contact_container, #habitat_container {
	height: 328px;
}
#booking_container {
	height: 560px;
}
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 150px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 95px;
}
#snow_decor {
	top: -50px;
}
.pull-right {
	float: none !important;
}
.cmn-toggle-switch {
	right: 25px;
}
.main_title {
	font-size: 14px;
}
.main_title h2 {
	font-size: 24px;
}
.main_title p {
	font-size: 16px
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.login_status {
	float: right;
	font-size: 18px;
}
.login {
	width: 70%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Portrait */
@media (min-width: 768px) and (max-width: 800px) {
#booking_bar {
	bottom: 0px;
}
#booking_bar_top {
	top: 268px;
}
#contact_container, #habitat_container {
	height: 268px;
}
#booking_container {
	height: 460px;
}
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 150px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 93px;
}
#snow_decor {
	top: -50px;
}
.pull-right {
	float: none !important;
}
.cmn-toggle-switch {
	right: 25px;
}
.main_title {
	font-size: 14px;
}
.main_title h2 {
	font-size: 24px;
}
.main_title p {
	font-size: 16px
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.login_status {
	float: right;
	font-size: 18px;
}
.login {
	width: 60%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Portrait */
@media (min-width: 641px) and (max-width: 768px) {
#booking_bar {
	bottom: 0px;
}
#booking_bar_top {
	top: 258px;
}
#booking_container {
	height: 460px;
}
#contact_container, #habitat_container {
	height: 258px;
}
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 150px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#snow_decor {
	top: -50px;
}
.margin_60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margin_30 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.pull-right {
	float: none !important;
}
.cmn-toggle-switch {
	right: 25px;
}
.main_title {
	font-size: 14px;
}
.main_title h2 {
	font-size: 24px;
}
.main_title p {
	font-size: 16px
}
.login_status {
	float: right;
	font-size: 18px;
}
.login {
	width: 58%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Landscape */
@media (min-width: 481px) and (max-width: 640px) {
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 125px;
}
#booking_bar_top {
	top: 216px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#contact_container, #habitat_container {
	height: 215px;
}
#booking_bar {
	bottom: 0px;
}
#booking_container {
	height: 400px;
}
#map {
	width: 100%;
	height: 350px
}
#snow_decor {
	top: -50px;
}
.login_status {
	float: right;
	font-size: 18px;
}
.footer_address {
	line-height: 20px;
}
.pull-right {
	float: none !important;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Landscape */
@media (min-width: 361px) and (max-width: 480px) {
#logo a .logo {
	margin-left: -55px;
	margin-top: 0px;
	height: 85px;
}
#booking_container {
	height: 285px;
	margin-bottom: 55px;
}
#booking_bar {
	bottom: -55px;
}
#booking_bar_top {
	top: 160px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#contact_container, #habitat_container {
	height: 160px;
}
#map {
	width: 100%;
	height: 350px
}
#snow_decor {
	top: -50px;
}
.login_status {
	float: right;
	font-size: 14px;
	padding-top: 10px;
}
.footer_address {
	line-height: 20px;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Portrait */
@media (min-width: 321px) and (max-width: 360px) {
#logo a .logo {
	margin-left: -12px;
    margin-top: -35px;
	height: 65px;
}
#booking_container {
	height: 180px;
    margin-bottom: 70px;
}
#booking_bar {
	bottom: -55px;
}
.bookbtn {
	left:0px;
}
.input-icon_nobg {
    left: 57px;
	top: 7px;
}
a.btn_full, .btn_full {
    padding: 6px 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
a.btn_2, .btn_2 {
    padding: 4px 15px;
    font-size: 14px;
}
a.btn_2.outline, .btn_2.outiline, input .btn_2.outiline {
    padding: 4px 18px;
}
.form-group {
    margin-bottom: 10px;
}
.margin_60 {
	padding-top: 0px; 
    padding-bottom: 30px;
}
.margin_30 {
    margin-top: 15px;
    margin-bottom: 15px;
}
#booking_bar {
	bottom: -60px;
}
#contact_container, #habitat_container {
	height: 120px;
}
#booking_bar_top {
	top: 121px;
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#map {
	width: 100%;
	height: 350px
}
#snow_decor {
	top: -50px;
}
.login_status {
	float: left;
	font-size: 14px;
	padding: 14px 0 14px 0;
}
.footer_address {
	line-height: 20px;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}

/* Mobile Portrait */
@media (max-width: 320px) {
#logo a .logo {
	margin-left: -12px;
    margin-top: -35px;
	height: 65px;
}
#booking_container {
	height: 180px;
    margin-bottom: 70px;
}
.bookbtn {
	left:0px;
}
.input-icon_nobg {
    left: 57px;
	top: 7px;
}
a.btn_full, .btn_full {
    padding: 6px 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
a.btn_2, .btn_2 {
    padding: 4px 15px;
    font-size: 14px;
}
a.btn_2.outline, .btn_2.outiline, input .btn_2.outiline {
    padding: 4px 18px;
}
.form-group {
    margin-bottom: 10px;
}
.margin_60 {
	padding-top: 0px; 
    padding-bottom: 30px;
}
.margin_30 {
    margin-top: 15px;
    margin-bottom: 15px;
}
#booking_bar {
	bottom: -60px;
}
#contact_container, #habitat_container {
	height: 72px;
}
#booking_bar_top {
	top: 110px
}
#general_decor {
	display: none
}
#position {
	padding-top: 90px;
}
#map {
	width: 100%;
	height: 350px
}
#snow_decor {
	top: -50px;
}
.login_status {
	float: left;
	font-size: 14px;
	padding: 14px 0 14px 0;
}
.footer_address {
	line-height: 20px;
}
.login {
	width: 100%;
}
.place-to-visit {
	float: none;
	width: 145px;
}
.iceWrap {
	display: none
}
.main-menu {
	text-align: left
}
}
