body {
  

}
.banner_pic{
  float:left;
  width:100%;
  margin-bottom:15px;
}
.banner_pic img{
  width:100%;
}
.wrapper {
  /*margin-top: 120px;
  margin-bottom: 120px;*/
}
.ad_login{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float:left;
  margin:15px 0px;
  width:100%;
  padding:5px 15px;
}
.form-signin {
  max-width:500px;

  margin: 0 auto;

}
.form-signin-heading{
  float:left;
  width:100%;
  text-align:center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;

}
.form-signin input[type="password"] {
  margin-bottom: 20px;

}
