::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
/* ==========================================================================
   caption styles
   ========================================================================== */

/* main image caption styles */  

#main .ihs-content .caption {
	
	
	position: absolute;
	top: 15px;
    height: 50px;
    left: 1%;
    max-width: 13%;
    padding: 15px 18px;
	/*bottom: 20px;
	right: 5%;
	max-width: 50%;
	padding: 12px 20px;*/
	color: #fff;
	font-weight: 300;
	-webkit-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all .5s;
	transition: all .5s;
	font-size: 1.5em;
	pointer-events: none;
	background: rgba(0,0,0,.7);
}
#main .ihs-content.active .caption {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
#main .ihs-hotspots > div h2 {
	background: #F63D00;
	-webkit-transition: all .5s;
	transition: all .5s;
	padding: 10px 20px;
	color: #fff;
	display: inline-block;
	margin-bottom: 0;
}
#main .ihs-hotspots > div p {
	color: #fff;
}
#main .ihs-hotspots > div.right h2 {
	-webkit-transform: translateX(-50px);
	transform: translateX(-50px);
}
#main .ihs-hotspots > div.left h2 {
	-webkit-transform: translateX(50px);
	transform: translateX(50px);
}
#main .ihs-hotspots > div.top h2 {
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
	text-align: center;
}
#main .ihs-hotspots > div.top {
	text-align: center;
}
#main .ihs-hotspots > div.left {
	text-align: right;
}
#main .ihs-hotspots > div p {
	opacity: 0;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	-webkit-transition: all .3s;
	transition: all .3s;
	max-width: 300px;
	padding: 10px;
	background: rgba(0,0,0,.4);
}
#main .ihs-hotspots > div.active p {
	opacity: 1;
	-webkit-transform: translate3D(0, 0, 0);
	transform: translate3D(0, 0, 0);
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
#main .ihs-hotspots > div.active h2 {
	-webkit-transform: translate3D(0, 0, 0);
	transform: translate3D(0, 0, 0);
}
 @media screen and (max-width: 700px) {
#main .ihs-hotspots > div h2 {
	font-size: 1em;
}
#main .ihs-hotspots > div p {
	font-size: .8em;
}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
 *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
}
 @media print,  (-o-min-device-pixel-ratio: 5/4),  (-webkit-min-device-pixel-ratio: 1.25),  (min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
* {
	background: transparent !important;
	color: #000 !important; /* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
}
a,  a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
/** Don't show links for images, or javascript/internal links*/

.ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after {
	content: "";
}
pre,  blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group; /* h5bp.com/t */
}
tr,  img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
 @page {
 margin: 0.5cm;
}
p,  h2,  h3 {
	orphans: 3;
	widows: 3;
}
h2,  h3 {
	page-break-after: avoid;
}
}
